<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Địa chỉ liê hệ:<br>Văn phòng A19 Tầng 16 tòa nhà TNR, số 54 Nguyễn Chí Thanh, Q Đống Đa, TP Hà Nội.</p>
                <p>Xưởng sản xuất 1:<br>32 Đường Tiến Thành, La Dương, Q Nam Từ Liêm, TP Hà Nội; </p>
                <p>Tel: 0982835886; Email: dangthanhhai@gmail.com</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
