<section id="phong_thuy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">DỊCH VỤ PHONG THỦY</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
			1. Bát tự luận giải,

			2. Luận giải Danh tính,

			3. Luận giải tướng mệnh,

			4. Luận giải lá số Tử vi,

			5. Phong thủy bản mệnh,

			6. Luận giải quẻ mệnh,

			7. Ngày giờ tốt cho các việc hợp bát tự,

			8. Tuổi hợp kết hôn,

			9. Tuổi làm ăn, phụ tá hợp mệnh,

			10. Cẩm nang vận mệnh.
        </div>
    </div>
</section>
