<section id="phong_thuy" style="background-color:black;">
    <div class="container">
		
			<div class="row">
				<div class="text-center">
					<h2><b>PHONG THỦY AN GIA<b></h2>
					<h4>1. Bát tự luận giải 
					2. Luận giải Danh tính. 
					3. Luận giải tướng mệnh.
					4. Luận giải lá số Tử vi.
					5. Phong thủy bản mệnh.
					6. Luận giải quẻ mệnh.
					7. Ngày giờ tốt cho các việc hợp bát tự.
					8. Tuổi hợp kết hôn.
					9. Tuổi làm ăn, phụ tá hợp mệnh
					10. Cẩm nang vận mệnh.</h4>
				</div>
			</div>
	
	
		<div class="row">
			<img src="img/angia.png" style="width: 100%;height: auto">
		</div>	
 
  </div>
</section>
