<section id="phong_thuy" class="bg-dark">
	<div class="col-xs-3">
	  <div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading"><b>PHONG THỦY AN GIA</br></h2>
			<h3>1. Bát tự luận giải.</h3>
			<h3>2. Luận giải Danh tính.</h3>
			<h3>3. Luận giải tướng mệnh.</h3>
			<h3>4. Luận giải lá số Tử vi.</h3>
			<h3>5. Phong thủy bản mệnh.</h3>
			<h3>6. Luận giải quẻ mệnh.</h3>
			<h3>7. Ngày giờ tốt cho các việc hợp bát tự.</h3>
			<h3>8. Tuổi hợp kết hôn.</h3>
			<h3>9. Tuổi làm ăn, phụ tá hợp mệnh.</h3>
			<h3>10. Cẩm nang vận mệnh.</h3>
		</div>
	  </div>
	</div>
	<div class="col-xs-9">
	  <div class="row">
		<div class="col-xs-2">Column 2-a</div>
		<div class="col-xs-10">Column 2-b</div>
	  </div>
	</div>
</section>
