<div class="container">
	<h2>VẬT LIỆU TỦ BẾP GỖ AN CƯỜNG</h2>
	<div class="bacot col-md-4 col-sm-4 col-xs-12">
		<a href="http://tubepancuong.vn/san-pham/tu-bep-go-acrylic.11.0.html">			
				<img src="img/go-acrylic-bong-guong.jpg" alt="tu bep acrylic">		
		</a>
		<h2><a href="http://tubepancuong.vn/san-pham/tu-bep-go-acrylic.11.0.html">TỦ BẾP ACRYLIC</a></h2>
		<span class="sp1">Gỗ Acrylic hay còn gọi là gỗ bóng gương với màu sắc gỗ Acrylic rất phong phú với 35 màu Acrylic đủ loại, từ màu trơn, metalic đến những màu vân gỗ sang trọng.</span>
	</div>
	<div class="bacot col-md-4 col-sm-4 col-xs-12">
		<a href="http://tubepancuong.vn/san-pham/tu-bep-go-melamine.9.0.html" target="_blank">			
			<img src="img/go-melamine-mdf.jpg" alt="thiet bi bep malloca">
		</a>
		<h2><a href="http://tubepancuong.vn/san-pham/tu-bep-go-melamine.9.0.html">TỦ BẾP MELAMINE</a></h2>
		<span class="sp1">Gỗ Melamine MDF với ưu điểm mịn, bền và chịu nhiệt tốt với bề mặt đa dạng và giống vân gỗ tự nhiên. Với hơn 240 màu từ các màu trơn cho đến các màu vân gỗ.</span>
	</div>
	<div class="bacot col-md-4 col-sm-4 col-xs-12">
		<a href="http://tubepancuong.vn/san-pham/tu-bep-go-laminate.10.0.html" target="_blank">
				<img src="img/go-laminate-kingdom.jpg" alt="tu bep laminate">
		</a>
		<h2><a href="http://tubepancuong.vn/san-pham/tu-bep-go-laminate.10.0.html">TỦ BẾP LAMINATE</a></h2>
		<span class="sp1">Gỗ Laminate hay còn gọi là "Formica" là vật liệu có bề mặt chống trầy xước, chịu va đập và nhiệt độ cao. Độ bền hàng chục năm, đa dạng mẫu mã với hơn 500 mẫu.</span>
	</div>
</div>
